.wrapper{
    margin: 50px 80px;
    font-size: 14px;
    color: #202124;
}

.section{
    margin-bottom: 50px;    
    position: relative;
}

.section h1{
    margin: 0 0 30px 0;
}

.filter{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.filter button{
    outline: none;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
}

.search input{
    outline: none;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 7px 12px;
    border-radius: 30px;
    font-size: 14px;
    width: 300px;
    height: 25px;

}

.search input:focus {
  border: 2px solid #3b82f6; /* 클릭 시 파란색으로 */
  outline: none; /* 기본 파란 outline 제거 */
}

.search button{
    display: none;
}

.Userbox{
    width: 240px;
    height: 320px;
    box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.12), 0 1px 2px -1px hsla(0, 0%, 0%, 0.12);
    border-radius: 15px;
    overflow: hidden;
}

.Userbio{
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.3);
    height: 120px;
    gap: 10px;
    padding: 10px 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* 원형 점 제거 (선택) */

}

.filter ul {
  position: absolute;
  top: 120%; /* 버튼 바로 아래 */
  left: 0;
  list-style: none;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0;
  display: none; /* 기본 숨김 */
  z-index: 999; /* 다른 요소 위로 */
  overflow: hidden;
}

.filter ul li {
  padding: 10px 12px;
  cursor: pointer;
}

.filter ul li:hover {
  background-color: #f5f5f5;
}

.filter .show {
  display: block; /* 클릭 시 표시 */
}

.activeFilters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.filterTag {
  background: #ddebfd;
  padding: 6px 10px 6px 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #0062ff;
  font-weight: 500;
}

.border{
  border: 1.5px solid #3b82f6 !important;
  color: #0062ff;
  font-weight: 500;
}

.filterTag button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #0062ff;
}
