.wrapper{
    margin: 50px 80px;
    font-size: 14px;
    color: #202124;
}

.section{
    margin-bottom: 50px;    
    position: relative;
}

.section h1{
    margin: 0 0 30px 0;
}

.filter{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.filter button{
    outline: none;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 14px;
}

.search input{
    outline: none;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 7px 12px;
    border-radius: 30px;
    font-size: 14px;
    width: 300px;
    height: 25px;

}

.search input:focus {
  border: 2px solid #3b82f6; /* 클릭 시 파란색으로 */
  outline: none; /* 기본 파란 outline 제거 */
}

.search button{
    display: none;
}

.Userbox{
    width: 240px;
    height: 320px;
    box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.12), 0 1px 2px -1px hsla(0, 0%, 0%, 0.12);
    border-radius: 15px;
    overflow: hidden;
}

.Userbio{
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.3);
    height: 120px;
    gap: 10px;
    padding: 10px 18px;
}

