/* 결제 내역 리스트 전체 Wrapper */
.payment-list-wrapper {
  display: flex;
  flex-direction: column; /* 내역 박스들을 세로로 쌓음 */
  gap: 15px; /* 각 내역 박스 사이의 간격 */
  width: 801px; /* 메인 리스트의 총 너비 */
  margin: 0 auto;
}

/* 개별 결제 내역 박스 스타일 */
.charge-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  min-height: 149px;
  background-color: #f8f8f8;
  align-items: center;
  position: relative;
  padding: 20px 40px;
  border-radius: 8px;
  box-sizing: border-box;
}

.charge-item {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  margin-bottom: -30px;
  margin-top: -30px;
}

.item-title {
  font-size: 30px;
  font-weight: bold;
  color: #6000ff;
  width: 120px;
  flex-shrink: 0;
}

.item-value {
  font-size: 30px;
  font-weight: bold;
  width: auto;
  margin-left: 20px;
  color: #666666;
}

/*환불버튼*/
.refund-button {
  position: absolute;
  right: 30px;
  bottom: 15px;
  padding: 5px 10px;
  background-color: #4372ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 71px;
  height: 30px;
  font-size: 12px;
}
