/* 회원가입 컴포넌트 전체 컨테이너 */
.register-container {
  display: flex;
  align-items: center; /* 세로 중앙 */
  flex-direction: column; /* 세로로 쌓기 */
}

/* 회원가입 문구 */
.page-title {
  width: 263px;
  height: 56px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/*입력 버튼 위 제목*/
.form-title {
  font-size: 13px;
  font-weight: bold;
}

/*중복 확인 버튼*/
.dup-check {
  margin-right: -3px;
  width: 95px;
  height: 28px;
  border: none; /* 외곽선 제거 */
  border-radius: 4px; /* 둥근 모서리 */
  background-color: #4372ff;
  color: #ffffff;
  font-size: 12px;
  font-family: "IBMPlexSansJP", sans-serif; /* 버튼 안 글자만 적용 */
  cursor: pointer;
}

/*input과 버튼 같이 디자인*/
.input-with-button {
  position: relative;
  display: inline-block;
  width: 300px; /* input+버튼 영역 넓이 */
}

/*placeholder 디자인*/
.input-placeholder::placeholder {
  color: black;
}

/* 회원가입 양식 input */
.input-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  width: 290px;
  height: 20px; /* input 높이 조금 늘림 */
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 12px;
}

/*아이콘 조정*/
.input-with-icon .icon {
  margin-right: 10px;
  margin-left: 4px;
  font-size: 1.2em;
  color: #666;
  width: 20px;
  height: 20px;
}

.input-with-icon input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}

.input-with-icon input::placeholder {
  opacity: 0.8; /* 더 투명하게 하고 싶다면 */
}

/* 폰트 임포트 */
@font-face {
  font-family: "IBMPlexSansJP";
  src: url("../fonts/IBMPlexSansJP-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* 회원가입 버튼 */
.register-btn {
  margin-left: 31px;
  width: 110px;
  height: 48px;
  border: none; /* 외곽선 제거 */
  border-radius: 5px; /* 둥근 모서리 */
  background-color: #4372ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: "IBMPlexSansJP", sans-serif; /* 버튼 안 글자만 적용 */
  cursor: pointer;
}

/* 회원가입 버튼 */
.cancel-btn {
  margin-left: 31px;
  width: 110px;
  height: 48px;
  border: none; /* 외곽선 제거 */
  border-radius: 5px; /* 둥근 모서리 */
  background-color: #4372ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: "IBMPlexSansJP", sans-serif; /* 버튼 안 글자만 적용 */
  cursor: pointer;
}
