body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", Arial, sans-serif;
  background-color: #f5f5f5;
}


.findpasswordcomponent {
  width: 585px;
  height: 690px;
  margin: 100px auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 22px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.findpasswordcomponent h2 {
  margin-top: 132px;
  font-size: 30px;
  font-weight: 700;
  color: #333;
}


.findpasswordcomponent p {
  margin: 10px 0 20px;
  font-size: 14px;
  color: #555;
}

.findpasswordcomponent input {
  width: 440px;
  height: 69px;
  margin: 8px 0;
  padding: 0 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.2s ease;
}

.findpasswordcomponent input:focus {
  border-color: #4e74ff;
}

/* 버튼 */
.findpasswordcomponent button {
  width: 312px;
  height: 62px;
  margin-top: 32px;
  background: #4e74ff;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.findpasswordcomponent button:hover {
  background-color: #3655d6;
}

.findpasswordcomponent .message {
  margin-top: 15px;
  font-size: 14px;
  color: #4e74ff;
}