.wrapper{
    margin: 10px 80px 0 80px;
    font-size: 14px;
    color: #202124;
    display: flex;
}

.section{
    margin-bottom: 50px;    
    position: relative;
}

.section h1{
    margin: 30px 0 50px 0;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
}

.userBox{
    display: flex;
    align-items: center;
    border: 1px solid rgb(91, 91, 91, 0.2);
    background-color: #ffffff;
    border-radius: 12px;
    width: 260px;
    padding: 10px 20px;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.userBox:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transform: translateY(-2px);
}

.userSection{
    display: flex;
    align-items: center;
}

.userImg{
    max-width: 60px; 
    height: 60px;
    margin-right: 20px;
    border-radius: 8px;
}

.userName{
    font-size: 16px;
    font-weight: 500;
    
}

.userId{
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.star {
  color: #ccc;
  transition: color 0.2s ease;
  cursor: pointer;
}

.activeStar {
  color: #facc15;
  transform: scale(1.2);
  cursor: pointer;
}

.emptyMessage{
  margin: 30px 0 0 40px;
  font-size: 20px;
  height: 280px;
}