.wrapper{
    margin: 20px 80px 0 80px;
    font-size: 14px;
    color: #202124;
    display: flex;
}

.section{
    margin-bottom: 50px;    
    position: relative;
}

.section h1{
    margin: 30px 0;
}

.imgbox{
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px 0 10px 0;
}

.modify{
    width: 240px;
    background-color: #dcdcdcaa;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
}

.title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.data{
    font-size: 20px;
}