.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 25px 0px;
  padding-right: 30px;
  margin-right: 50px;
  margin-top: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
}

.link {
  text-decoration: none;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.active {
  font-weight: 600;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}

a:hover {
  color: rgba(0, 0, 0, 0.8);
}
